.telo {
	background-color: rgba(128, 168, 219, 0.7);
	width: 80%;
	margin: auto;
	margin-top: 28px;
}

.pisanije{
	margin-bottom: 0px;
}

h1 {
	text-align: center;
	color: red;
	border: 5px solid rgba(35, 207, 49, 0.8);
	font-family: 'Poiret One', cursive;
	font-size: 35px;
	margin-top: 0px;
}

h1:hover {
	border: 5px solid purple;
}

h2 {
	text-align: left;
	color: purple;
	border: 5px solid #ff7f00;
	font-family: 'Poiret One', cursive;
	font-size: 180%;
	margin-top: 0px;
	font-weight: bold;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
}

a {
	text-decoration: none;
	color: yellow;
}

/*html{
	background-image: url(back.jpg);
	-moz-background-size: cover;
	background-size: cover;
}*/

html{
	background: url(back2.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.vektorcic{
	background: url(suma.svg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


table{
	table-layout: fixed;
	border-collapse: collapse;
}


.katita {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}